<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>校园活动管理系统---登录</title>
  <link rel="shortcut icon" href="./image/logo_favicon.ico">
  <link rel="stylesheet" href="./libs/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div id="app">
    
    <div class="form-horizontal register">
        <div class="form-group">
          <legend>登录</legend>
        </div>
        
        <div class="form-group"> 
          <label for="admin-name">用户名</label>
          <input type="text" class="form-control" name="admin-name" id="admin-name" v-model="adminName" @keyup.enter="login()">
        </div>
        <div class="form-group"> 
          <label for="admin-password">密码</label>
          <input type="password" class="form-control" name="admin-password" id="admin-password" v-model="adminPassword" @keyup.enter="login()">
        </div>
        <div class="form-group">
          <label for="admin-vertify">验证码</label>
          <input type="text" class="form-control" name="admin-vertify" id="admin-vertify" v-model="adminVertify" @keyup.enter="login()">
        </div>
        <div class="fprm-group" style="background-image:url('./image/yamBg.jpg');margin-bottom: 20px;border-radius: 5px;">
          <a href="#" @click="upcaptcha()"> 
            <img src="/login/captcha" alt="验证码" ref="imgyzm" width="256px" height="60px">
          </a>
        </div>
        <div class="form-group sub-box">
          <button type="button" class="btn btn-primary" @click="login()">登录</button>
        </div>
    </div>
    
  </div>
</body>
</html>
<script src="./libs/js/jquery.js"></script>
<script src="./libs/js/bootstrap.min.js"></script>
<script src="./libs/layer/layer.js"></script>
<script src="./libs/js/vue.js"></script>
<script src="./libs/js/axios.min.js"></script>
<script src="./js/login.js"></script>


