<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>校园活动管理系统---注册</title>
  <link rel="shortcut icon" href="./image/logo_favicon.ico">
  <link rel="stylesheet" href="./libs/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div id="app">
    
    <div class="form-horizontal register">
        <div class="form-group">
          <legend>管理员注册</legend>
        </div>
        
        <div class="form-group"> 
          <label for="admin-name">用户名</label>
          <input type="text" class="form-control" name="admin-name" id="admin-name" v-model="adminName">
        </div>
        <div class="form-group"> 
          <label for="admin-password">密码</label>
          <input type="password" class="form-control" name="admin-password" id="admin-password" v-model="adminPassword">
        </div>
        <div class="form-group"> 
          <label for="admin-password-verify">确认密码</label>
          <input type="password" class="form-control" name="admin-password-verify" id="admin-password-verify" v-model="adminPasswordVerify">
        </div>
        <div class="form-group sub-box">
          <button type="button" class="btn btn-primary" @click="register()">注册</button>
        </div>
    </div>
    
  </div>
</body>
</html>
<script src="./libs/js/jquery.js"></script>
<script src="./libs/js/bootstrap.min.js"></script>
<script src="./libs/layer/layer.js"></script>
<script src="./libs/js/vue.js"></script>
<script src="./libs/js/axios.min.js"></script>
<script src="./js/register.js"></script>


