<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/sys/sysmain.css">
  <link rel="stylesheet" href="../../css/sys/user.css">
  <title>学生用户管理</title>
</head>
<body>
  <div id="sysapp">
    
    <div id="addUser">
      <template v-if="student.lieb ==='zuzhi'">
        <div class="er_main c_ac">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>社团名称：
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" v-model="student.name" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>所属学院：
              </label>
              <div class="col-sm-3">
                <select class="form-control" v-model="student.xueyuan">
                  <option>信息工程学院</option>
                  <option>理学院</option>
                  <option>生物化学学院</option>
                  <option>法学院</option>
                  <option>美术学院</option>
                  <option>音乐学院</option>
                  <option>经济学院</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>社团所在地：
              </label>
              <label class="col-sm-3 control-label">
                <input type="text" class="form-control" v-model="student.address" />
              </label>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>负责人姓名：
              </label>
              <label class="col-sm-3 control-label">
                <input type="text" class="form-control" v-model="student.leadername" />
              </label>
              <label class="col-sm-2 control-label">
                <span>*</span>职位：
              </label>
              <label class="col-sm-3 control-label">
                <input type="text" class="form-control" v-model="student.leaderzhiw" />
              </label>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>电话：
              </label>
              <label class="col-sm-3 control-label">
                <input type="text" class="form-control" v-model="student.phone" />
              </label>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>邮箱：
              </label>
              <label class="col-sm-3 control-label">
                <input type="text" class="form-control" v-model="student.email" />
              </label>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-3">
                <input @click="updateStudent('zuzhi')" type="button" class="btn btn-primary" value="确定修改" />
              </div>
            </div>
          </form>
        </div>
      </template>
      <template v-else>
        <div class="er_main c_ac">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>姓名：
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" v-model="student.name" />
              </div>
              <label class="col-sm-2 control-label">
                <span>*</span>性别：
              </label>
              <div class="col-sm-3">
                <label class="radio-inline">
                  <input type="radio" name="sex" value="man" v-model="student.sex" />男
                </label>
                <label class="radio-inline">
                  <input type="radio" name="sex" value="woman" v-model="student.sex" />女
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>电话：
              </label>
              <label class="col-sm-3 control-label">
                <input type="text" class="form-control" v-model="student.phone" />
              </label>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>身份证号：
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" v-model="student.personID" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>所属学院：
              </label>
              <div class="col-sm-3">
                <select class="form-control" v-model="student.xueyuan">
                  <option>信息工程学院</option>
                  <option>理学院</option>
                  <option>生物化学学院</option>
                  <option>法学院</option>
                  <option>美术学院</option>
                  <option>音乐学院</option>
                  <option>经济学院</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>专业班级：
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" v-model="student.classname" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <span>*</span>校园卡号：
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" v-model="student.camID" />
              </div>
            </div>
            <div class="form-group">>
              <div class="col-sm-offset-3 col-sm-3">
                <input @click="updateStudent('single')" type="button" class="btn btn-primary" value="确定修改" />
              </div>
            </div>
          </form>
        </div>
      </template>
    </div>
    

    
    
    
  </div>
</body>
</html>
<script src="../../libs/js/jquery.js"></script>
<script src="../../libs/js/bootstrap.min.js"></script>
<script src="../../libs/js/vue.js"></script>
<script src="../../libs/js/axios.min.js"></script>
<script src="../../libs/layer/layer.js"></script>
<script src="../../js/sys/announce_sys/update.js"></script>